@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lemonada&family=Lobster+Two&family=Rock+Salt&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Instrument+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.flex-1 {
  flex: 1;
}

body {
  background-color: #171717;
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif;
  line-height: 1.6;
}

div {
  padding: 0px;
  margin: 0px;
}

div {
  overflow: auto;
  /* Enable scrolling */
}

div::-webkit-scrollbar {
  width: 0.5em;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 25px;
  background-color: #171717;

  z-index: 2;
}

.main {
  z-index: 1;
}

.top-nav-wrapper {
  border: 1px solid rgb(118, 118, 116);
  display: flex;
  align-items: center;
}

.top-nav .navigation {
  padding: 0 calc(5.39286vw - 45px) 0 calc(5.39286vw + 45px);
  width: 75.21429vw;
  display: block;
}

.top-nav .navigation ul,
.mobile-navigation ul {
  list-style-type: none;
  padding: 0px;
}

.top-nav .navigation ul li {
  margin-right: 25px;
  display: inline-block;
}

.top-nav .navigation a,
.mobile-navigation a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.top-nav .navigation a:hover>.link {
  text-decoration: underline;
}

.top-nav .navigation a .page-number,
.mobile-navigation a .page-number {
  color: rgb(164, 162, 162);
  font-size: 12px;
}

.top-nav .logo {
  margin-left: 11px;
  margin-top: 12px;
}

.mobile-navigation-toggle {
  display: none;
  padding-right: 12px;
  padding-top: 11px;
}

.mobile-navigation-toggle svg {
  font-size: 25px;
}

.mobile-navigation {
  padding: 25px;
}

.logo {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-navigation a span.page-number {
  font-size: 20px;
}

.mobile-navigation a span.link {
  font-size: 30px;
}

@media screen and (max-width: 1180px) {
  .top-nav-wrapper {
    justify-content: space-between;
  }

  .mobile-navigation-toggle {
    display: block;
  }

  .top-nav .navigation {
    display: none;
  }

  .logo {
    width: 50px;
  }
}

@media screen and (max-width: 680px) {
  .logo {
    width: 40px;
  }

  .top-nav {
    left: 0px;
    right: 0px;
  }
}

.content {
  margin-top: 105px;
  margin-left: 25px;
  margin-right: 25px;

  display: flex;
}

.mobile-navigation {
  height: 500px;
  background-color: #171717;
  top: 100px;
  position: fixed;
  width: 100%;
}

/** Left nav **/
.left-nav {
  position: fixed;
  top: 25px;
  width: 90px;
  border: 1px solid rgb(118, 118, 116);
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;

  z-index: 3;
}

.left-nav div {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-bottom: 30px;
}

.left-nav svg {
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 1180px) {
  .left-nav {
    width: 70px;
  }
}

@media screen and (max-width: 680px) {
  .left-nav {
    display: none;
  }
}

/** Left nav **/
.home-page-content {
  flex: 1;
  margin-left: 90px;
}

.container-align {
  margin: 0 calc(5.39286vw - 45px) 0 calc(5.39286vw + 45px);
  width: 75.21429vw;
}

@media screen and (max-width: 1180px) {
  .container-align {
    margin: 0;
    width: 100%;
  }
}

.footer-alignment {
  margin-left: 25px;
  margin-right: 25px;
}

.af-center {
  align-self: center;
}

.home-page-content .content-container {
  padding: 0 calc(5.39286vw - 45px) 0 calc(5.39286vw + 45px);
  width: 75.21429vw;
}

.home-page-content .content-container .header {
  display: flex;
}

.home-page-content .content-container .header div {
  flex: 1;
}

.home-page-content .content-container h1 {
  font-size: 62px;
  margin-top: 120px;
  font-family: "Rock Salt", cursive;
  margin-bottom: 0px;
}

.home-page-content .content-container p {
  color: rgb(164, 162, 162);
}

@media screen and (max-width: 1180px) {
  .home-page-content .content-container {
    padding: 0px;
    width: auto;
  }

  .home-page-content .content-container h1 {
    font-size: 48px;
    margin-top: 100px;
  }

  .home-page-content .content-container .header div:last-child {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .home-page-content {
    margin-left: 0px;
  }

  .home-page-content .content-container h1 {
    font-size: 38px;
    margin-top: 70px;
  }
}

/* home page blog post */

.featured-blog-post {
  margin-top: 50px;
}

.blog-post a {
  color: white;
  text-decoration: none;
}

.blog-post {
  border-bottom: 1px solid rgb(118, 118, 116);
  align-items: center;
  justify-content: space-between;
}

.blog-post h3 {
  font-size: 17px;
}

.blog-post-link {
  display: flex;
  justify-content: space-between;
}

.blog-post-link__date {
  font-weight: normal;
  font-size: 14px;
}

/* home page => featured projects */

.featured-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.featured-projects__title {
  margin-bottom: 0px;
}

.featured-projects h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(118, 118, 116);
}

.project-card {
  flex: 0 0 48%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(118, 118, 116);
}

.project-card .footer a {
  color: white;
  text-decoration: none;
}

.project-card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card .header span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.project-card .header span svg {
  color: yellow;
}

.project-card .header span {
  font-size: 15px;
  color: rgb(164, 162, 162);
}

.project-card p {
  margin: 0px;
  font-size: 15px;
}

.project-card .footer {
  margin-top: 20px;
}

.project-card .footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.project-card .footer ul li {
  margin-right: 15px;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.project-card .footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white;
}

@media screen and (max-width: 1180px) {
  .project-card {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 680px) {
  .project-card {
    flex: 0 0 100%;
  }
}

/** Footer **/

.page-footer {
  margin-top: 150px;
  margin-bottom: 100px;

  padding-bottom: 20px;
  border-bottom: 1px solid rgb(118, 118, 116);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  color: rgb(164, 162, 162);
}

/** page content **/

.page-content {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.hero p {
  word-wrap: break-word;
  /* For older browser support */
  overflow-wrap: break-word;
  /* For modern browser support */
  max-width: 850px;

  align-self: center;

  color: rgb(164, 162, 162);
  font-size: 16px;
}

.aboutme-section {
  padding: 5px 25px;
  align-self: center;

  margin-top: 50px;
}

.profile-picture {
  float: right;
  /* margin-top: -190px; */
  border-radius: 50%;
}

.aboutme-section p,
.experience span,
.experience p,
.aboutme-section li {
  font-size: 16px;
  color: #e6e6e6;
}

.education__item .flex {
  align-items: center;
  gap: 50px;
}

.education__item .flex span {
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  color: white;
}

@media screen and (max-width: 680px) {
  .aboutme-section {
    padding: 0px;
    margin-top: 20px;
  }

  .aboutme-section__picture {
    flex-direction: column-reverse;
  }
}

/* .profile-picture {
  width: 180px;
  height: 180px;
} */

/** reads page **/

.books-container {
  display: flex;

  margin-top: 50px;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  gap: 20px;

  /* border: 1px solid green; */
}

.italic {
  font-style: italic;
}

.books-container .book-card {
  /* border: 1px solid rgb(118, 118, 116); */
  width: 200px;
  margin: 0px;

  min-width: 200px;
  background-color: rgb(51, 51, 51);

  padding: 20px;
}

.books-container .book-card a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  color: white;
  text-decoration: none;
}

.books-container .book-card img {
  width: 180px;
  height: 220px;
}

.books-container .book-card span {
  font-size: 14px;
  color: #e6e6e6;

  text-align: center;
}

.books-container .book-card span.vote-counter {
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  padding: 1px 4px;
}

.experiences-section ul.experience-postes {
  list-style: none;
}

.experiences-section h3 {
  margin-bottom: 0px;
}

ul.experiences-list {
  position: relative;
  list-style: none;
  padding-left: 0px;
}

.experience h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.bullet {
  position: relative;
}

.bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  width: 1px;
  background-color: rgb(118,
      118,
      116);
  /* Adjust this value to change the color of the line */
}

.bullet ul {
  list-style-type: disc;
}

/** creations **/

.projects-section {
  padding: 5px 25px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project-container {
  flex: 1;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1180px) {
  .projects-section {
    flex-direction: column;
  }
}

.project {
  margin: 10px;
  max-width: 1152px;

  width: 100%;

  justify-content: space-between;
}

.project p {
  font-size: 14px;
  color: rgb(164, 162, 162);
}

.project img {
  width: 340px;
  height: 200px;

  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project .footer ul {
  list-style: none;
  padding: 0px;

  margin-top: 0px;
}

.project h3 span {
  font-size: 14px;
  font-weight: normal;
}

.project .footer ul li {
  display: inline;
  margin-right: 10px;
}

.flex.articles {
  gap: 4%;
}

.project h3 {
  margin: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(118, 118, 116);
}

.project a {
  color: white;
  text-decoration: none;
}

.project a:hover {
  transition: ease-in 0.5s;
  text-decoration: underline;
}

@media screen and (max-width: 680px) {
  .project {
    flex-direction: column-reverse;
  }

  .project p {
    min-height: 10px;
  }
}

.header a {
  color: white;
}

/** writings page **/
.articles {
  width: 100%;
  max-width: 900px;
}

.articles-container {
  justify-content: center;
}

.article-container {
  margin-top: 20px;
  flex-basis: 48%;
  flex-grow: 0;
}

@media screen and (max-width: 1180px) {
  .articles {
    flex-direction: column;
  }

  .article-container {
    flex-basis: 100%;
  }
}

.section-title {
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(118, 118, 116);
}

.blog-post a:hover {
  text-decoration: underline;
}

/** single blog page **/

.blog-post-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.post-content {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.post-content__head {
  border-bottom: 1px solid rgb(118, 118, 116);
  padding-bottom: 50px;
}

.post-content__head h1 {
  font-size: 48px;
}

.post-content p,
.post-content span {
  color: #e6e6e6;
  font-weight: normal;
}

.post-content__body img {
  display: block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.post-content__body p:has(img) {
  text-align: center;
}

.post-content__body figure {
  margin: 1.5rem 0;
  text-align: center;
}

.post-content__body figure img {
  display: block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.post-content__body figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: rgb(164, 162, 162);
  font-style: italic;
}

.post-content__body a {
  color: white;
}

code[class*="language-"],
pre[class*="language-"] {
  background-color: #0000 !important;
  border: 1px solid rgb(49, 48, 53) !important;
  transition: box-shadow 0.2s ease 0s !important;

  color: #d0d6e0 !important;
}

.gatsby-highlight-code-line {
  background-color: rgb(116, 207, 136, 0.1);
  display: block;
  margin-left: -1rem;
  margin-right: -1.5rem;
  padding-left: calc(1rem - 4px);
  border-left: 4px solid #74cf74;
}

.gatsby-highlight-code-line .gatsby-highlight-code-line {
  background-color: transparent;
}

.right-sidebar {
  width: 350px;
  border-left: 1px solid rgb(118, 118, 116);
  padding: 60px 30px;
  color: #e6e6e6;
}

.right-sidebar img {
  width: 150px;
  border-radius: 50%;
}

.right-sidebar a {
  color: white;
}

@media screen and (max-width: 1180px) {
  .blog-post-container .right-sidebar {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .post-content {
    padding: 0px;
  }

  .blog-post-container h1 {
    font-size: 32px;
  }

  .post-content__body img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/** global responsive **/
@media screen and (max-width: 680px) {
  body p {
    font-size: 18px;
  }
}

.float-right {
  float: right;
  margin-left: 16px;
  /* Add some space between text and image */
  /* width: 150px; Adjust as needed */
  height: auto;
  width: 300px;
}